<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.SignMapper">
  <resultMap id="BaseResultMap" type="com.example.domain.Sign">
    <!--@mbg.generated-->
    <!--@Table `sign`-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="call_id" jdbcType="INTEGER" property="call_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="student_id" jdbcType="INTEGER" property="student_id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `id`, `call_id`, `name`, `student_id`, `username`, `state`, `create_time`, `update_time`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from `sign`
    where `id` = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `sign`
    where `id` = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.domain.Sign" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `sign` (`call_id`, `name`, `student_id`, 
      `username`, `state`, `create_time`, 
      `update_time`)
    values (#{call_id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{student_id,jdbcType=INTEGER},
      #{username,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.domain.Sign" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `sign`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="call_id != null">
        `call_id`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="student_id != null">
        `student_id`,
      </if>
      <if test="username != null">
        `username`,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="createTime != null">
        `create_time`,
      </if>
      <if test="updateTime != null">
        `update_time`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="call_id != null">
        #{call_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="student_id != null">
        #{student_id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.domain.Sign">
    <!--@mbg.generated-->
    update `sign`
    <set>
      <if test="call_id != null">
        `call_id` = #{call_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="student_id != null">
        `student_id` = #{student_id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        `username` = #{username,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        `create_time` = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        `update_time` = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where `id` = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.domain.Sign">
    <!--@mbg.generated-->
    update `sign`
    set `call_id` = #{call_id,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      `student_id` = #{student_id,jdbcType=INTEGER},
      `username` = #{username,jdbcType=VARCHAR},
      `state` = #{state,jdbcType=VARCHAR},
      `create_time` = #{createTime,jdbcType=TIMESTAMP},
      `update_time` = #{updateTime,jdbcType=TIMESTAMP}
    where `id` = #{id,jdbcType=INTEGER}
  </update>

  <select id="listAllByNameAndStudent_id" resultMap="BaseResultMap">
    select * from `sign`
    where `name` = #{param1,jdbcType=VARCHAR}
    and `student_id` = #{param2,jdbcType=INTEGER}
  </select>
</mapper>